BE_HTTP_PORT=8080
BE_SYNC_INTERVAL=10s

BE_RAW_MYSQL_HOST=127.0.0.1
BE_RAW_MYSQL_PORT=3307
BE_RAW_MYSQL_DATABASE=be_ads_raw
BE_RAW_MYSQL_USER=be_ads
BE_RAW_MYSQL_PASSWORD=be_ads

BE_SERVING_MYSQL_HOST=127.0.0.1
BE_SERVING_MYSQL_PORT=3308
BE_SERVING_MYSQL_DATABASE=be_ads_serving
BE_SERVING_MYSQL_USER=be_ads
BE_SERVING_MYSQL_PASSWORD=be_ads

BE_CLICKHOUSE_HOST=127.0.0.1
BE_CLICKHOUSE_PORT=9000
BE_CLICKHOUSE_DATABASE=be_ads
BE_CLICKHOUSE_USER=be_ads
BE_CLICKHOUSE_PASSWORD=be_ads

BE_NATS_URL=nats://127.0.0.1:4222

OTEL_EXPORTER_OTLP_ENDPOINT=http://127.0.0.1:4318
