BE_HTTP_PORT=8080
BE_SYNC_INTERVAL=10s

BE_MYSQL_HOST=127.0.0.1
BE_MYSQL_PORT=3307
BE_MYSQL_DATABASE=be_ads
BE_MYSQL_USER=be_ads
BE_MYSQL_PASSWORD=be_ads

BE_CLICKHOUSE_HOST=127.0.0.1
BE_CLICKHOUSE_PORT=9000
BE_CLICKHOUSE_DATABASE=be_ads
BE_CLICKHOUSE_USER=be_ads
BE_CLICKHOUSE_PASSWORD=be_ads
